.banner, .projects {
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
    text-align: left;
    margin-top: 100px;
    font-size: 1vw;
}

.banner a, .project-box p > a {
    text-decoration: underline;
    color: black;
}

.banner a:hover, .project-box p > a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.name-desc {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    width: 50%;
}

.banner-head {
    margin-bottom: 3vw;
    display: flex;
}

.banner-title {
    font-size: 1.5vw;
    font-weight: 400;
}

.banner-head p, .skills > p, .projects > p {
    font-size: 3vw;
    display: inline-block;
    margin: auto 0;
}

.banner-head img {
    width: 10vw;
    height: 10vw;
    border-radius: 5%;
    filter: grayscale(1);
}

.banner-head img:hover {
    filter: none;
    transition: 500ms;
}

.banner-details-card, .skills-card {
    width: 50%;
}

.banner-details-card hr, .skills hr, .projects hr {
    width: 10vw;
    margin-top: 0%;
}

.banner-details-card p {
    margin-bottom: 0%;
}

.banner-card-topic {
    font-size: 1.25vw;
}

.banner-card-topic-date {
    font-size: 0.75vw;
}

.banner-card-topic-desc {
    font-size: 1vw;
}

.edu-n-work {
    display: flex;
}

@media (max-width: 700px) {

    .banner {
        margin: 2vw;
    }

    .banner-head {
        flex-direction: column;
        align-items: center;
    }

    .banner-head p, .skills > p, .projects > p {
        width: auto;
        font-size: 10vw;
        text-align: center;
    }

    .banner-head img {
        width: 35vw;
        height: 35vw;
    }

    .edu-n-work, .skills-card-parent, .project-box {
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .banner-details-card, .skills-card {
        width: auto;
        text-align: center;
    }

    .banner-details-card ul {
        list-style: none;
        padding: 0;
    }

    hr {
        display: inline-block;
    }

    .banner-title{
        font-size: 8vw;
    }

    .banner-card-topic, .project-box h1 {
        font-size: 5vw;
    }

    .banner-card-topic-date, .project-box > p {
        font-size: 3vw;
    }

    .banner-card-topic-desc, .project-box p {
        font-size: 4vw;
    }

    .name-desc span {
        font-size: 3vw;
        text-align: center;
    }
}